.w-layout-grid {
  display: -ms-grid;
  display: grid;
  grid-auto-columns: 1fr;
  -ms-grid-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  -ms-grid-rows: auto auto;
  grid-template-rows: auto auto;
  grid-row-gap: 16px;
  grid-column-gap: 16px;
}

body {
  font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
  color: #333;
  font-size: 14px;
  line-height: 20px;
}

h1 {
  margin-top: 20px;
  margin-bottom: 10px;
  font-size: 3vw;
  line-height: 3vw;
  font-weight: 700;
}

h2 {
  margin-top: 20px;
  margin-bottom: 10px;
  font-size: 2.5vw;
  line-height: 2.5vw;
  font-weight: 700;
}

h3 {
  margin-top: 20px;
  margin-bottom: 10px;
  font-size: 2vw;
  line-height: 2vw;
  font-weight: 700;
}

h4 {
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 1.5vw;
  line-height: 1.5vw;
  font-weight: 700;
}

h5 {
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 1vw;
  line-height: 1vw;
  font-weight: 700;
}

h6 {
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 1vw;
  line-height: 1vw;
  font-weight: 700;
  white-space: nowrap;
}

a {
  color: #fff;
  font-weight: 700;
  text-decoration: none;
}

.logo {
  position: absolute;
  z-index: 99;
  height: 120px;
  margin-right: 40px;
}

.logo.hover {
  position: relative;
  z-index: 110;
  opacity: 1;
}

.navbutton {
  margin-top: 10px;
  margin-right: 5px;
  margin-left: 5px;
  background-color: transparent;
  transition: color 500ms ease, padding 500ms cubic-bezier(.075, .82, .165, 1), box-shadow 500ms cubic-bezier(.075, .82, .165, 1);
  font-family: Valak, sans-serif;
  color: #fff;
  font-size: 24px;
  font-weight: 600;
  letter-spacing: 2px;
  text-transform: uppercase;
}

.navbutton:hover {
  padding-top: 6px;
  padding-bottom: 12px;
}

.navbutton.w--current {
  border-bottom: 2px solid #fff;
}

.navbutton.mobile {
  display: none;
}

.hero {
  position: relative;
  z-index: 50;
  display: flex;
  overflow: visible;
  width: 100%;
  height: 100vh;
  min-height: 800px;
  flex-direction: row;
  align-items: flex-start;
}

.hero.subpage {
  height: 35vh;
  min-height: 35vh;
  background-image: url('../images/IMG_9728.webp');
  background-position: 50% 50%;
  background-size: cover;
  box-shadow: inset 2px 0 12px 8px #131313;
  opacity: 1;
  mix-blend-mode: lighten;
}

.hero_tagline {
  position: absolute;
  left: 0%;
  top: auto;
  right: 0%;
  bottom: 0%;
  z-index: 99;
  margin-top: auto;
  margin-bottom: 5%;
  margin-left: 2%;
  font-family: Oswald, sans-serif;
  color: #fff;
  font-size: 12vw;
  line-height: 10vw;
  font-weight: 300;
  letter-spacing: 0px;
  text-transform: uppercase;
}

.hero_tagline.subpage {
  margin-top: 0px;
  margin-bottom: 0%;
  font-family: Oswald, sans-serif;
  font-size: 72px;
  font-style: normal;
  font-weight: 200;
  text-transform: uppercase;
}

.body {
  display: flex;
  overflow: visible;
  flex-direction: column;
  align-items: center;
  background-color: #1f1f1f;
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  line-height: 26px;
}

.background-video {
  position: static;
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: 0%;
  min-height: 100%;
  min-width: 100%;
  filter: blur(1px);
  -o-object-fit: contain;
     object-fit: contain;
}

.hero_cta {
  position: absolute;
  display: flex;
  width: 100%;
  height: 100%;
  min-height: 400px;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

.hero_cta.subpage {
  min-height: auto;
  outline-color: #262626;
  outline-offset: 0px;
  outline-style: solid;
  outline-width: 3px;
}

.h1_span {
  display: inline;
  font-family: Valak, sans-serif;
  color: #fff;
  font-size: 7vw;
  line-height: 1vw;
  font-style: italic;
  font-weight: 300;
}

.button {
  position: static;
  right: 0px;
  z-index: 99;
  display: flex;
  margin-top: 20px;
  padding: 15px 35px;
  flex-direction: column;
  align-items: center;
  align-self: center;
  border-radius: 10px;
  background-color: #686868;
  transition: background-color 200ms cubic-bezier(.994, .003, .58, 1);
  font-family: Oswald, sans-serif;
  font-size: 18px;
  line-height: 18px;
  font-weight: 200;
  letter-spacing: 1px;
  text-transform: uppercase;
}

.button:hover {
  background-color: hsla(0, 0%, 68.6%, 0.75);
  color: #292929;
}

.button.invert {
  display: inline-block;
  background-color: rgba(255, 255, 255, 0.52);
  -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px);
  transition: color 200ms ease, background-color 200ms cubic-bezier(.994, .003, .58, 1);
  font-family: Oswald, sans-serif;
  color: #1b1b1b;
  font-weight: 200;
  text-transform: uppercase;
}

.button.invert:hover {
  background-color: rgba(255, 255, 255, 0.94);
  color: #4e4e4e;
}

.navbar {
  position: fixed;
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: auto;
  z-index: 100;
  display: flex;
  height: 15vh;
  margin-bottom: 40px;
  padding-top: 20px;
  padding-right: 10px;
  padding-left: 10px;
  align-items: flex-start;
  -o-object-fit: contain;
     object-fit: contain;
}

.sectionalternate1 {
  position: relative;
  z-index: 1;
  display: block;
  width: 100%;
  max-width: 100vw;
  justify-content: center;
  justify-items: center;
  align-items: center;
  grid-auto-columns: 1fr;
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  -ms-grid-columns: 1fr;
  grid-template-columns: 1fr;
  -ms-grid-rows: auto auto;
  grid-template-rows: auto auto;
  background-color: #1f1f1f;
  background-image: linear-gradient(180deg, #444, #3e3e3e 0%, #2e2e2e 50%, #1f1f1f);
}

.h2 {
  display: block;
  font-family: Oswald, sans-serif;
  color: #9c9c9c;
  font-size: 64px;
  line-height: 72px;
  font-weight: 300;
  text-align: center;
  text-transform: uppercase;
}

.h2.invert {
  color: #fff;
  font-size: 54px;
}

.h2.invert.whyus {
  font-family: Oswald, sans-serif;
  font-style: italic;
  font-weight: 500;
}

.content_grid {
  padding-right: 5%;
  padding-left: 5%;
  align-items: center;
  grid-auto-rows: auto;
  grid-column-gap: 60px;
      grid-template-areas: ". ."
    ". Area";
  -ms-grid-columns: 1fr;
  grid-template-columns: 1fr;
  -ms-grid-rows: auto;
  grid-template-rows: auto;
}

.image-2 {
  overflow: hidden;
  width: 100%;
  height: 100%;
  max-width: 100%;
  -o-object-fit: contain;
     object-fit: contain;
  -o-object-position: 20% 50%;
     object-position: 20% 50%;
}

.paragraph {
  margin-bottom: 40px;
  font-family: Valak, sans-serif;
  color: #b9b9b9;
  font-size: 2vw;
  line-height: 2vw;
  text-align: center;
}

.paragraph.invert {
  color: #ddd;
  text-align: left;
}

.h2_divider {
  width: 80px;
  height: 4px;
  margin-top: 20px;
  background-color: #9c9c9c;
}

.link {
  font-family: Oswald, sans-serif;
  color: #9c9c9c;
  font-weight: 400;
}

.link.phone {
  height: 89%;
  margin-left: 5px;
  font-family: Valak, sans-serif;
  color: #fff;
  font-size: 24px;
  font-style: italic;
  font-weight: 600;
}

.copyright {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 0.8em;
}

.footer_ctatext {
  display: flex;
  padding-top: 5%;
  padding-bottom: 0%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.section_full {
  position: relative;
  display: block;
  overflow: hidden;
  width: 100%;
  height: 80%;
  min-height: 100px;
  padding: 100px 0px;
  justify-content: center;
  background-color: rgba(95, 95, 95, 0.58);
  -webkit-backdrop-filter: blur(8px) grayscale(100%);
          backdrop-filter: blur(8px) grayscale(100%);
}

.partnerlogos {
  max-width: 50%;
  filter: brightness(80%);
}

.bg_overlay {
  display: block;
  width: 100%;
  height: 100%;
  -webkit-backdrop-filter: none;
          backdrop-filter: none;
}

.blogroll_grid {
  display: flex;
  padding-left: 0px;
  flex-direction: column;
  align-items: flex-start;
  font-family: Valak, sans-serif;
  color: #fff;
  font-size: 26px;
  font-weight: 300;
  text-align: left;
}

.grid {
  grid-column-gap: 40px;
  -ms-grid-columns: 1fr 1.5fr;
  grid-template-columns: 1fr 1.5fr;
  -ms-grid-rows: auto;
  grid-template-rows: auto;
}

.grid.staff {
  padding: 5%;
  justify-items: end;
  grid-auto-flow: row;
  -ms-grid-columns: 1fr 5fr;
  grid-template-columns: 1fr 5fr;
  border-bottom: 1px solid #dfdfdf;
}

.photo_container {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 6px;
}

.social-media__button {
  display: flex;
  width: 2.9em;
  height: 2.9em;
  margin-right: 0.3em;
  margin-left: 0.3em;
  justify-content: center;
  align-items: center;
  border-radius: 100px;
  background-color: rgba(156, 156, 156, 0.48);
  -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px);
  color: rgba(119, 28, 30, 0.75);
}

.social-media__button.social-media__button--black {
  margin-right: 10px;
  margin-left: 0em;
  background-color: #220d3f;
  transition: background-color 250ms ease, color 250ms ease;
  color: #fff;
  text-decoration: none;
}

.social-media__button.social-media__button--black:hover {
  background-color: #e22b71;
}

.social-media__button.social-media__button--black.contactcta {
  position: relative;
  z-index: 999;
  margin-right: 10px;
  background-color: #e22b71;
}

.social-media__button.social-media__button--black.contactcta:hover {
  background-color: #220d3f;
}

.social-media__button.social-media__button--black.contactcta:focus {
  background-color: #e22b71;
}

.social-media__button.social-media__button--black.contactcta:visited {
  background-color: #e22b71;
}

.social-media__button.social-media__button--black {
  margin-right: 10px;
  margin-left: 0em;
  background-color: #24383f;
  transition: background-color 250ms ease, color 250ms ease;
  color: #fff;
  text-decoration: none;
}

.social-media__button.social-media__button--black:hover {
  background-color: #daaf52;
}

.social-media__button.social-media__button--black.contactcta {
  position: relative;
  z-index: 999;
  margin-right: 10px;
  background-color: #daaf52;
}

.social_media_container {
  display: flex;
  width: 100.0002%;
  margin-top: 0px;
  padding-top: 20px;
  justify-content: center;
  align-items: center;
}

.dropdown-link {
  padding-top: 5px;
  padding-bottom: 5px;
  color: #fff;
  font-size: 14px;
  line-height: 22px;
}

.dropdown-link:hover {
  color: #fff;
  text-shadow: 1px 1px 6px #000;
}

.dropdown-link.w--current {
  color: #e22b71;
}

.dropdown-link.mobile {
  padding-top: 5px;
  padding-bottom: 5px;
}

.dropdown-list {
  background-color: #8b8b8b;
  -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px);
}

.dropdown-list.w--open {
  border-radius: 15px;
  background-color: #401919;
  box-shadow: 1px 1px 50px 0 rgba(36, 56, 63, 0.6);
  font-weight: 300;
}

.link-block {
  flex: 0 0 auto;
}

.link-block.w--current {
  flex: 0 0 auto;
}

.svg_icon {
  padding: 12px;
  color: rgba(119, 28, 30, 0.75);
}

.image-3 {
  padding-right: 10px;
  padding-left: 10px;
}

.image-4 {
  padding-right: 11px;
  padding-left: 11px;
}

.phone_block {
  position: fixed;
  right: 20px;
  z-index: 999;
  display: flex;
  margin-top: 10px;
  align-items: center;
}

.utility-page-wrap {
  display: flex;
  width: 100vw;
  height: 100vh;
  max-height: 100%;
  max-width: 100%;
  justify-content: center;
  align-items: center;
}

.utility-page-content {
  display: flex;
  width: 260px;
  flex-direction: column;
  text-align: center;
}

.text-block-10 {
  font-family: Valak, sans-serif;
  color: #fff;
  font-size: 1.5em;
  font-style: italic;
  font-weight: 300;
}

.title-block {
  font-size: 1.8vw;
  font-style: italic;
  text-transform: uppercase;
}

.grid-2 {
  grid-column-gap: 40px;
  -ms-grid-columns: 1fr 1.5fr;
  grid-template-columns: 1fr 1.5fr;
  -ms-grid-rows: auto;
  grid-template-rows: auto;
}

.grid-2.staff {
  padding: 5%;
  justify-items: end;
  grid-auto-flow: row;
  -ms-grid-columns: 1fr 0.25fr;
  grid-template-columns: 1fr 0.25fr;
  border-bottom: 1px solid #dfdfdf;
}

.bio-paragraph {
  padding-top: 1%;
  font-size: 1.8vw;
  line-height: 2vw;
  text-align: justify;
  text-indent: 2%;
}

.image-10 {
  display: none;
}

.image-11 {
  display: block;
}

.button-block {
  display: flex;
  justify-content: center;
  align-items: center;
}

.utility-page-form {
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

.image-12 {
  filter: invert(100%);
}

.logo-block {
  display: flex;
  width: 100vw;
  padding-top: 10vh;
  padding-bottom: 10vh;
  flex-direction: row;
  justify-content: center;
  flex-wrap: nowrap;
  align-items: center;
  grid-auto-columns: 1fr;
  grid-column-gap: 10%;
  grid-row-gap: 10%;
  -ms-grid-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  -ms-grid-rows: auto auto;
  grid-template-rows: auto auto;
}

.section_content-collcetion {
  position: relative;
  z-index: 1;
  display: block;
  width: 100%;
  max-width: 100vw;
  padding: 10vh 100px 2.5%;
  justify-content: center;
  justify-items: center;
  align-items: center;
  grid-auto-columns: 1fr;
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  -ms-grid-columns: 1fr;
  grid-template-columns: 1fr;
  -ms-grid-rows: auto auto;
  grid-template-rows: auto auto;
  background-color: #fff;
}

.section_content-collcetion.child {
  z-index: 20;
  margin-top: 0px;
  margin-right: 0px;
  margin-left: 0px;
  background-color: hsla(0, 0%, 100%, 0);
}

.navbarbg {
  position: absolute;
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: 0%;
  z-index: -1;
  background-image: linear-gradient(180deg, #141414, transparent);
}

.body-2 {
  background-color: #353535;
}

.heading-2 {
  font-family: Valak, sans-serif;
  color: #ccc;
}

.div-block-4 {
  font-family: Valak, sans-serif;
  color: #ccc;
}

.messyrichtextmenu-p {
  display: block;
  width: 50vw;
  padding-top: 5vh;
  background-color: rgba(70, 70, 70, 0.39);
  color: #979797;
  font-size: 1vw;
  line-height: 1vw;
  font-style: italic;
  text-align: center;
  white-space: pre-line;
  -o-object-fit: contain;
     object-fit: contain;
}

.sectionalternate2 {
  position: relative;
  z-index: 1;
  display: flex;
  width: 100%;
  max-width: 100vw;
  padding-right: 100px;
  padding-left: 100px;
  justify-content: center;
  justify-items: center;
  align-items: center;
  grid-auto-columns: 1fr;
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  -ms-grid-columns: 1fr;
  grid-template-columns: 1fr;
  -ms-grid-rows: auto auto;
  grid-template-rows: auto auto;
  background-image: linear-gradient(180deg, rgba(0, 0, 0, 0.36), rgba(0, 0, 0, 0.36)), linear-gradient(180deg, #444, #3e3e3e 0%, #2e2e2e 50%, #1f1f1f);
}

.image-team {
  width: 100.0002%;
  height: 99.99986%;
  max-height: 99.99986%;
  border-radius: 14px;
  box-shadow: 0 0 12px 4px rgba(0, 0, 0, 0.24);
}

.staff_container-mobile {
  display: none;
}

.heading-4 {
  margin-top: 0px;
  margin-bottom: 0px;
}

.youtube-embed {
  display: flex;
  width: 100vw;
  height: 100%;
  padding-top: 5%;
  padding-bottom: 5%;
  flex-direction: column;
  align-items: center;
  background-image: linear-gradient(180deg, transparent, #050505 3%, #080808 96%, transparent);
}

.youtube {
  display: block;
  margin-top: 10%;
  margin-bottom: 10%;
  background-color: #000;
  background-image: url('../images/ytBanner.webp');
  background-position: 50% 50%;
  background-size: cover;
}

.section_products {
  position: relative;
  z-index: 1;
  display: flex;
  width: 100%;
  max-width: 100vw;
  flex-direction: column;
  justify-content: center;
  justify-items: center;
  align-items: center;
  grid-auto-columns: 1fr;
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  -ms-grid-columns: 1fr;
  grid-template-columns: 1fr;
  -ms-grid-rows: auto auto;
  grid-template-rows: auto auto;
  background-color: #1f1f1f;
  background-image: linear-gradient(180deg, #444, #3e3e3e 0%, #2e2e2e 50%, #1f1f1f);
}

.heading-5 {
  margin-top: 0px;
  margin-bottom: 0px;
}

.heading-6 {
  margin-top: 0px;
  margin-bottom: 0px;
}

.heading-7 {
  margin-top: 0px;
  margin-bottom: 0px;
}

.heading-8 {
  margin-top: 0px;
  margin-bottom: 0px;
}

.heading-9 {
  margin-top: 0px;
  margin-bottom: 0px;
}

.heading-10 {
  margin-top: 0px;
  margin-bottom: 0px;
}

.heading-11 {
  margin-top: 0px;
  margin-bottom: 0px;
}

.heading-12 {
  margin-top: 0px;
  margin-bottom: 0px;
}

.heading-13 {
  margin-top: 0px;
  margin-bottom: 0px;
}

.heading-14 {
  margin-top: 0px;
  margin-bottom: 0px;
}

.heading-15 {
  margin-top: 0px;
  margin-bottom: 0px;
}

.heading-16 {
  margin-top: 0px;
  margin-bottom: 0px;
}

.button-social {
  position: static;
  right: 0px;
  z-index: 99;
  display: flex;
  max-width: 100.000152%;
  margin-top: 5%;
  margin-bottom: 0px;
  padding-top: 15px;
  padding-bottom: 15px;
  flex-direction: column;
  align-items: center;
  align-self: center;
  border-radius: 10px;
  background-color: #8a8a8a;
  background-image: linear-gradient(17deg, rgba(254, 188, 0, 0.5), rgba(141, 3, 191, 0.5));
  box-shadow: 0 0 12px 4px rgba(0, 0, 0, 0.24);
  transition: background-color 200ms cubic-bezier(.994, .003, .58, 1);
  font-family: Oswald, sans-serif;
  font-size: 1.2vw;
  line-height: 1.2vw;
  font-weight: 200;
  letter-spacing: 1px;
  text-transform: uppercase;
}

.button-social:hover {
  background-color: rgba(17, 17, 17, 0.75);
  color: #fff;
}

.blogroll_grid-copy {
  display: flex;
  padding-left: 0px;
  flex-direction: column;
  font-family: Valak, sans-serif;
  color: #fff;
  font-size: 26px;
  font-weight: 300;
  text-align: left;
}

.content_grid-home {
  padding: 5%;
  align-items: center;
  grid-auto-rows: auto;
  grid-column-gap: 60px;
      grid-template-areas: "Area-2 Area"
    "Area-2 Area"
    "Area-2 Area";
  -ms-grid-columns: 1fr;
  grid-template-columns: 1fr;
  -ms-grid-rows: auto;
  grid-template-rows: auto;
}

.banner-image {
  min-width: 100vw;
  margin-bottom: 5%;
  background-image: linear-gradient(180deg, #343434, #cecece);
  mix-blend-mode: normal;
}

.product-bio {
  display: flex;
  margin-bottom: 5%;
  flex-direction: column;
  align-items: center;
}

.bold-text {
  line-height: 3vw;
  text-decoration: underline;
}

.bold-text-2 {
  line-height: 3vw;
  text-decoration: underline;
}

.bold-text-3 {
  line-height: 3vw;
  text-decoration: underline;
}

.bold-text-4 {
  line-height: 3vw;
  text-decoration: underline;
}

.bold-text-5 {
  line-height: 3vw;
  text-decoration: underline;
}

.bold-text-6 {
  line-height: 3vw;
  text-decoration: underline;
}

.paragraph-product {
  padding-right: 20%;
  padding-left: 20%;
  font-family: Valak, sans-serif;
  color: #b9b9b9;
  font-size: 2vw;
  line-height: 2vw;
  text-align: center;
}

.section_home {
  position: relative;
  z-index: 10;
  display: block;
  width: 100%;
  max-width: 100vw;
  justify-content: center;
  justify-items: center;
  align-items: center;
  grid-auto-columns: 1fr;
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  -ms-grid-columns: 1fr;
  grid-template-columns: 1fr;
  -ms-grid-rows: auto auto;
  grid-template-rows: auto auto;
  background-color: #1f1f1f;
  background-image: linear-gradient(180deg, #444, #3e3e3e 0%, #2e2e2e 50%, #1f1f1f);
  box-shadow: 0 -13px 20px 4px rgba(11, 11, 11, 0.63);
}

.html-embed {
  z-index: 1;
  width: 100vw;
  min-height: 100vh;
  padding: 5%;
}

.grid-3 {
  -ms-grid-columns: 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr;
  -ms-grid-rows: auto auto auto;
  grid-template-rows: auto auto auto;
}

.testimonial-slider-large {
  position: relative;
  width: 100vw;
  padding: 80px 30px;
}

.container {
  position: relative;
  width: 100%;
  height: 0%;
  margin-right: 0px;
  margin-left: 0px;
}

.testimonial-slider-two {
  height: auto;
  background-color: transparent;
}

.testimonial-slide {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.testimonial-content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.testimonial-quote-icon {
  width: 3%;
  margin-left: 5%;
}

.testimonial-quote {
  margin-bottom: 32px;
  padding-right: 10%;
  padding-left: 10%;
  font-family: Valak, sans-serif;
  color: #cdcdcd;
  font-size: 2.5vw;
  line-height: 2.5vw;
  font-weight: 600;
  text-align: center;
}

.testimonial-info-two {
  display: flex;
  align-items: center;
  align-self: center;
}

.testimonial-image {
  width: 60px;
  height: 60px;
  margin-right: 16px;
  border-radius: 50%;
  -o-object-fit: cover;
     object-fit: cover;
}

.testimonial-author-name {
  font-family: Valak, sans-serif;
  color: #bebebe;
  font-weight: 700;
}

.testimonial-image-two {
  width: 350px;
  height: 400px;
  -o-object-fit: cover;
     object-fit: cover;
}

.testimonial-author-image-three {
  width: 50px;
  height: 50px;
  margin-right: 24px;
  border-radius: 50%;
  -o-object-fit: cover;
     object-fit: cover;
}

.testimonial-slider-arrow {
  display: none;
}

.testimonial-slider-nav {
  position: static;
  bottom: -60px;
  display: none;
  margin-top: 24px;
  font-size: 10px;
}

.text-block-11 {
  font-family: Valak, sans-serif;
  color: #7d7d7d;
  font-size: 1.2vw;
}

.testimonial-blend {
  position: absolute;
  z-index: 2;
  display: block;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(90deg, #1f1f1f 2%, rgba(31, 31, 31, 0) 15%, rgba(31, 31, 31, 0) 89%, #1f1f1f);
}

.bold-text-7 {
  font-size: 1.5vw;
  text-align: center;
}

.div-block-7 {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.mask {
  margin-bottom: 0px;
}

.icon-3 {
  display: none;
}

.icon-4 {
  display: none;
}

.product-image {
  width: 75%;
  margin-bottom: 5%;
  background-image: linear-gradient(180deg, #343434, #cecece);
  mix-blend-mode: normal;
}

.body-3 {
  background-color: #282828;
}

.image-13 {
  opacity: 0.5;
  filter: invert(100%);
}

.submit-button {
  background-color: #5a5a5a;
}

.heading-17 {
  color: #939393;
}

.field-label {
  color: #979797;
}

.lottie-animation {
  position: absolute;
  left: 0%;
  top: 35vh;
  right: 0%;
  bottom: 0%;
  height: 100vh;
}

.bg-div {
  position: fixed;
  width: 100vw;
  height: 100vh;
}

.image-14 {
  height: 100%;
  opacity: 0.2;
}

.div-block-9 {
  position: absolute;
  left: 0%;
  top: auto;
  right: 0%;
  bottom: 0%;
  display: flex;
  height: 5%;
  padding-bottom: 10px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

@media screen and (max-width: 991px) {
  h1 {
    font-size: 5vw;
    line-height: 5vw;
  }

  h2 {
    font-size: 3vw;
    line-height: 3vw;
  }

  h3 {
    font-size: 3vw;
    line-height: 3vw;
  }

  h4 {
    font-size: 2.5vw;
    line-height: 2.5vw;
  }

  h5 {
    font-size: 2vw;
    line-height: 2vw;
  }

  h6 {
    font-size: 2vw;
    line-height: 1vw;
  }

  .logo.hover {
    margin-right: 10px;
  }

  .navbutton {
    margin-right: 5px;
    margin-left: 5px;
    padding-right: 0px;
    padding-left: 0px;
    font-size: 2.5vw;
    line-height: 2.5vw;
    letter-spacing: 1px;
    white-space: nowrap;
  }

  .navbutton.w--current {
    letter-spacing: 0px;
    white-space: nowrap;
  }

  .hero.subpage {
    height: 30vh;
    min-height: 30vh;
  }

  .hero_tagline {
    font-size: 13vw;
    line-height: 11vw;
  }

  .h1_span {
    font-size: 8vw;
  }

  .h2 {
    margin-right: 40px;
    font-size: 42px;
  }

  .content_grid {
    margin-top: 5vh;
    grid-column-gap: 20px;
    -ms-grid-columns: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
  }

  .content_grid.whyus {
    -ms-grid-columns: 2fr 1fr;
    grid-template-columns: 2fr 1fr;
  }

  .paragraph {
    font-size: 20px;
    line-height: 30px;
  }

  .link {
    font-size: 16px;
    line-height: 18px;
  }

  .link.phone {
    font-size: 2.5vw;
    line-height: 2.5vw;
    white-space: nowrap;
  }

  .copyright {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .partnerlogos {
    max-width: 65%;
  }

  .team-bio {
    font-size: 22px;
    text-align: left;
  }

  .social-media__button {
    font-size: 1.8vw;
    line-height: 1.8vw;
  }

  .social-media__button.social-media__button--black.contactcta {
    margin-right: 10px;
    background-color: #e22b71;
  }

  .social-media__button.social-media__button--black.contactcta {
    margin-right: 10px;
  }

  .phone_block {
    position: absolute;
    right: 0px;
    margin-right: 10px;
  }

  .title-block {
    font-size: 3vw;
    line-height: 2vw;
  }

  .bio-paragraph {
    font-size: 2.5vw;
    line-height: 2vw;
    letter-spacing: 1.5px;
  }

  .image-10 {
    display: block;
  }

  .image-11 {
    display: none;
    width: 50%;
  }

  .section_content-collcetion {
    margin-top: 5vh;
    padding-right: 40px;
    padding-left: 40px;
  }

  .messyrichtextmenu-p {
    width: 100vw;
    min-width: 100vw;
    padding-top: 0vh;
    font-size: 2vw;
    line-height: 2vw;
  }

  .sectionalternate2 {
    padding-right: 40px;
    padding-left: 40px;
  }

  .button-social {
    font-size: 1.7vw;
    line-height: 1.5vw;
  }

  .content_grid-home {
    margin-top: 5vh;
    grid-column-gap: 20px;
    -ms-grid-columns: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
  }

  .paragraph-product {
    padding-right: 15%;
    padding-left: 15%;
    font-size: 3vw;
    line-height: 3vw;
  }

  .html-embed {
    top: 30vh;
  }

  .testimonial-slider-large {
    padding-top: 100px;
    padding-bottom: 20px;
  }

  .container {
    max-width: 728px;
  }

  .testimonial-slide {
    padding-left: 32px;
  }

  .testimonial-quote {
    overflow: visible;
    font-size: 4vw;
    line-height: 4vw;
  }

  .text-block-11 {
    font-size: 2vw;
  }

  .bold-text-7 {
    font-size: 3vw;
  }

  .lottie-animation {
    top: 30vh;
  }

  .div-block-9 {
    height: 4%;
  }
}

@media screen and (max-width: 767px) {
  h1 {
    font-size: 6vw;
    line-height: 6vw;
  }

  h2 {
    font-size: 4vw;
    line-height: 4vw;
  }

  h3 {
    font-size: 4vw;
    line-height: 4vw;
  }

  h4 {
    font-size: 3vw;
    line-height: 3vw;
  }

  h6 {
    line-height: 0.5vw;
  }

  .logo {
    margin-right: 100%;
  }

  .logo.hover {
    margin-right: 0px;
  }

  .navbutton {
    display: none;
  }

  .navbutton.mobile {
    display: flex;
    width: 100%;
    min-height: 48px;
    margin-top: 0px;
    margin-right: 0px;
    margin-left: 0px;
    padding-right: 0px;
    padding-left: 0px;
    flex-direction: column;
    align-items: center;
  }

  .hero.subpage {
    height: 25vh;
    min-height: 25vh;
  }

  .hero_tagline {
    margin-bottom: 15%;
  }

  .hero_tagline.subpage {
    margin-bottom: 1.5%;
  }

  .background-video {
    left: -50vw;
    top: 0%;
    right: 0%;
    bottom: 0%;
    min-width: auto;
    filter: blur(1px);
  }

  .button {
    margin-bottom: 20px;
  }

  .navbar {
    padding-top: 5px;
    align-items: flex-start;
  }

  .sectionalternate1 {
    justify-items: center;
    grid-auto-columns: 1fr;
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
    -ms-grid-rows: auto auto;
    grid-template-rows: auto auto;
  }

  .h2 {
    display: block;
    margin-top: 0px;
    margin-right: 0px;
    justify-content: center;
    align-items: center;
  }

  .content_grid {
    display: block;
    padding-bottom: 60px;
    justify-items: stretch;
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
  }

  .content_grid.whyus {
    -ms-grid-columns: 2fr;
    grid-template-columns: 2fr;
  }

  .image-2 {
    margin-top: 10px;
  }

  .feature_container {
    margin-top: 5%;
  }

  .paragraph {
    width: 100%;
    font-size: 20px;
    line-height: 30px;
  }

  .link.phone {
    display: block;
  }

  .partnerlogos {
    -o-object-fit: contain;
       object-fit: contain;
  }

  .team-bio {
    flex-direction: column;
    align-items: center;
    font-size: 20px;
  }

  .grid {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
  }

  .grid.staff {
    padding-bottom: 0px;
    justify-items: center;
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
  }

  .dropdown-link {
    margin-right: 0px;
    margin-left: 0px;
    padding-right: 0px;
    padding-left: 0px;
  }

  .dropdown-link.w--current {
    color: #fff;
    text-shadow: 1px 1px 6px #000;
  }

  .dropdown-link.mobile {
    margin-right: 0px;
    margin-left: 0px;
    padding-right: 0px;
    padding-left: 0px;
    outline-color: #fff;
    outline-offset: 0px;
    outline-style: none;
    outline-width: 3px;
    color: #fff;
    font-size: 24px;
    font-style: italic;
    font-weight: 300;
  }

  .dropdown-list {
    display: none;
    align-items: center;
    opacity: 1;
    -webkit-backdrop-filter: none;
            backdrop-filter: none;
  }

  .dropdown-list.w--open {
    display: flex;
    margin-top: 48px;
    flex-direction: column;
    background-color: transparent;
    box-shadow: none;
    -webkit-backdrop-filter: none;
            backdrop-filter: none;
    font-family: Valak, sans-serif;
    font-weight: 300;
  }

  .staff_container {
    display: block;
    flex-direction: row;
    justify-content: center;
  }

  .svg_icon {
    min-width: 40px;
  }

  .text-block-7 {
    color: #fff;
    font-size: 24px;
  }

  .icon-2 {
    padding-left: 5px;
    color: #fff;
    font-size: 22px;
  }

  .dropdown-toggle {
    margin-right: 0px;
    margin-left: 0px;
  }

  .dropdown-toggle.w--open {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    border-radius: 10px;
  }

  .phone_block {
    position: static;
    white-space: nowrap;
  }

  .title-block {
    font-size: 4vw;
    line-height: 4vw;
    font-weight: 400;
  }

  .grid-2 {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
  }

  .grid-2.staff {
    padding-bottom: 0px;
    justify-items: center;
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
  }

  .bio-paragraph {
    padding-top: 2%;
    font-size: 3.5vw;
    line-height: 3.5vw;
    font-weight: 300;
    text-align: center;
    text-indent: 0%;
  }

  .image-11 {
    padding-top: 10%;
  }

  .section_content-collcetion {
    margin-top: 10vh;
    justify-items: center;
    grid-auto-columns: 1fr;
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
    -ms-grid-rows: auto auto;
    grid-template-rows: auto auto;
  }

  .messyrichtextmenu-p {
    max-width: 100vw;
  }

  .sectionalternate2 {
    justify-items: center;
    grid-auto-columns: 1fr;
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
    -ms-grid-rows: auto auto;
    grid-template-rows: auto auto;
  }

  .image-team {
    width: 65%;
    max-width: 75%;
    min-width: auto;
    -o-object-fit: scale-down;
       object-fit: scale-down;
  }

  .staff_container-mobile {
    display: block;
    flex-direction: row;
    justify-content: center;
  }

  .staff_container-desktop {
    display: none;
    flex-direction: row;
    justify-content: center;
  }

  .section_products {
    justify-items: center;
    grid-auto-columns: 1fr;
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
    -ms-grid-rows: auto auto;
    grid-template-rows: auto auto;
  }

  .button-social {
    margin-bottom: 20px;
    font-size: 2.5vw;
  }

  .content_grid-home {
    display: block;
    padding-bottom: 60px;
    justify-items: stretch;
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
  }

  .paragraph-product {
    width: 100%;
    padding-right: 15%;
    padding-left: 15%;
    font-size: 4vw;
    line-height: 4vw;
  }

  .section_home {
    justify-items: center;
    grid-auto-columns: 1fr;
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
    -ms-grid-rows: auto auto;
    grid-template-rows: auto auto;
  }

  .html-embed {
    top: 25vh;
  }

  .testimonial-slider-large {
    padding: 100px 15px 40px;
  }

  .testimonial-slide {
    padding: 0px;
    flex-direction: column;
  }

  .testimonial-content {
    max-width: none;
    margin-right: 0px;
    margin-bottom: 40px;
  }

  .testimonial-quote-icon {
    width: 4%;
  }

  .testimonial-image-two {
    width: 100%;
    height: auto;
  }

  .lottie-animation {
    top: 25vh;
  }

  .bg-div {
    width: 300vw;
    margin-left: -150vw;
  }

  .div-block-9 {
    height: 4%;
  }
}

@media screen and (max-width: 479px) {
  h1 {
    font-size: 7vw;
    line-height: 7vw;
  }

  h2 {
    font-size: 5vw;
    line-height: 5vw;
  }

  h3 {
    font-size: 4.5vw;
    line-height: 4.5vw;
  }

  h4 {
    font-size: 4vw;
    line-height: 4vw;
  }

  h5 {
    font-size: 3vw;
    line-height: 1vw;
  }

  h6 {
    line-height: 0vw;
  }

  .logo {
    height: auto;
    max-width: 120px;
    margin-right: 0%;
  }

  .navbutton {
    display: none;
  }

  .hero {
    overflow: hidden;
    width: 100%;
    height: 90vh;
    min-height: 400px;
  }

  .hero.subpage {
    height: 20vh;
    min-height: 20vh;
  }

  .hero_tagline.subpage {
    margin-bottom: 3.5%;
    font-size: 48px;
  }

  .hero_cta.subpage {
    width: 100%;
    height: 100%;
    min-height: 100%;
    justify-content: flex-end;
    align-items: flex-start;
  }

  .button {
    margin-top: 0%;
    padding: 10px 15px;
    font-size: 16px;
  }

  .navbar {
    padding-right: 5px;
    padding-left: 5px;
    grid-auto-columns: 1fr;
    -ms-grid-columns: 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr;
    -ms-grid-rows: auto auto;
    grid-template-rows: auto auto;
  }

  .sectionalternate1 {
    display: block;
    overflow: hidden;
    max-width: 100%;
    padding-bottom: 10%;
  }

  .h2 {
    line-height: 52px;
  }

  .h2.invert.whyus {
    font-size: 45px;
    text-align: left;
  }

  .content_grid {
    display: block;
    margin-bottom: 0px;
    padding-bottom: 5%;
  }

  .link.phone {
    font-size: 5vw;
    line-height: 5vw;
  }

  .copyright {
    margin-top: 0px;
  }

  .footer_ctatext {
    display: block;
    max-width: 100%;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
  }

  .partnerlogos {
    max-width: 80%;
  }

  .bg_overlay {
    height: 100vh;
  }

  .team-bio {
    font-size: 18px;
  }

  .social-media__button {
    margin-right: 0em;
    margin-left: 0em;
    font-size: 3.4vw;
    line-height: 3.4vw;
  }

  .social-media__button.social-media__button--black.contactcta {
    top: 20px;
    right: 10px;
    margin-right: 0px;
    margin-bottom: 40px;
    margin-left: 0em;
  }

  .social-media__button.social-media__button--black.contactcta {
    top: 20px;
    right: 10px;
    margin-right: 0px;
    margin-bottom: 40px;
    margin-left: 0em;
  }

  .dropdown-link.w--current {
    color: #fff;
    text-shadow: 1px 1px 6px #000;
  }

  .dropdown-link.mobile {
    padding-top: 5px;
    padding-bottom: 5px;
    color: #fff;
    letter-spacing: 0px;
  }

  .dropdown-list.w--open {
    min-width: 100px;
  }

  .svg_icon {
    width: 50vw;
    min-width: 40px;
  }

  .text-block-7 {
    font-size: 6vw;
    line-height: 6vw;
  }

  .icon-2 {
    font-size: 6vw;
    line-height: 6vw;
  }

  .dropdown-toggle {
    position: relative;
    left: 0%;
    top: 0%;
    right: auto;
    bottom: auto;
    text-align: left;
  }

  .phone_block {
    position: relative;
    margin-right: -3px;
  }

  .title-block {
    text-align: center;
  }

  .bio-paragraph {
    padding-top: 2%;
    font-size: 4vw;
    font-weight: 300;
  }

  .image-10 {
    width: 75%;
    max-width: 75%;
  }

  .image-11 {
    width: 100%;
  }

  .section_content-collcetion {
    display: block;
    max-width: 100%;
    padding-right: 20px;
    padding-left: 20px;
  }

  .sectionalternate2 {
    display: block;
    overflow: hidden;
    max-width: 100%;
    padding-right: 0px;
    padding-left: 0px;
  }

  .heading-4 {
    margin-top: 0px;
    margin-bottom: 0px;
  }

  .section_products {
    display: block;
    overflow: hidden;
  }

  .heading-5 {
    margin-top: 0px;
  }

  .heading-6 {
    margin-top: 0px;
    margin-bottom: 0px;
  }

  .heading-7 {
    margin-top: 0px;
    margin-bottom: 0px;
  }

  .heading-8 {
    margin-top: 0px;
    margin-bottom: 0px;
  }

  .heading-9 {
    margin-top: 0px;
    margin-bottom: 0px;
  }

  .heading-10 {
    margin-top: 0px;
    margin-bottom: 0px;
  }

  .heading-11 {
    margin-top: 0px;
    margin-bottom: 0px;
  }

  .heading-12 {
    margin-top: 0px;
    margin-bottom: 0px;
  }

  .heading-13 {
    margin-top: 0px;
    margin-bottom: 0px;
  }

  .heading-14 {
    margin-top: 0px;
    margin-bottom: 0px;
  }

  .heading-15 {
    margin-top: 0px;
    margin-bottom: 0px;
  }

  .heading-16 {
    margin-top: 0px;
    margin-bottom: 0px;
  }

  .button-social {
    font-size: 16px;
  }

  .content_grid-home {
    display: block;
    margin-bottom: 0px;
    padding-bottom: 5%;
  }

  .paragraph-product {
    padding-right: 10%;
    padding-left: 10%;
    font-size: 5vw;
    line-height: 5vw;
  }

  .section_home {
    display: block;
    overflow: hidden;
    max-width: 100%;
    padding-bottom: 10%;
  }

  .testimonial-slider-large {
    padding-top: 100px;
    padding-bottom: 20px;
  }

  .container {
    max-width: none;
  }

  .testimonial-quote {
    font-size: 5vw;
    line-height: 5vw;
  }

  .testimonial-author-image-three {
    margin-right: 16px;
  }

  .text-block-11 {
    font-size: 4vw;
  }

  .bold-text-7 {
    font-size: 5vw;
  }

  .lottie-animation {
    top: 20vh;
  }

  .bg-div {
    position: fixed;
    left: 0%;
    top: 0%;
    right: 0%;
    bottom: 0%;
  }
}

#w-node-_2c1e68ec-f382-10c3-3dfa-4bd38e0ce518-f111c60b {
  -ms-grid-column: span 1;
      grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 3;
      grid-row-start: span 3;
  -ms-grid-row-span: 3;
  grid-row-end: span 3;
  order: 0;
  -ms-grid-row-align: stretch;
      align-self: stretch;
  -ms-grid-column-align: center;
      justify-self: center;
}

#w-node-_2c1e68ec-f382-10c3-3dfa-4bd38e0ce519-f111c60b {
  -ms-grid-column-span: 1;
  grid-column-end: 3;
  -ms-grid-column: 2;
      grid-column-start: 2;
  -ms-grid-row-span: 1;
  grid-row-end: 3;
  -ms-grid-row: 2;
      grid-row-start: 2;
  -ms-grid-column-align: auto;
      justify-self: auto;
}

#w-node-_2c1e68ec-f382-10c3-3dfa-4bd38e0ce523-f111c60b {
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-column: span 1;
      grid-column-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
  -ms-grid-row: span 1;
      grid-row-start: span 1;
  -ms-grid-row-align: center;
      align-self: center;
}

#w-node-_87a24f56-d225-72b4-257e-7ee4dfeba61b-f111c60b {
  -ms-grid-column: span 1;
      grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 3;
      grid-row-start: span 3;
  -ms-grid-row-span: 3;
  grid-row-end: span 3;
  order: 0;
  -ms-grid-row-align: stretch;
      align-self: stretch;
  -ms-grid-column-align: center;
      justify-self: center;
}

#w-node-f2df1f58-347c-4959-9d2c-fa582b1927c6-2b1927c4 {
  -ms-grid-column-align: center;
      justify-self: center;
}

#w-node-aae33376-4836-968d-e4a4-98571fe0c1e9-2b1927c4 {
  -ms-grid-column: span 1;
      grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
      grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-f2df1f58-347c-4959-9d2c-fa582b1927ef-2b1927c4 {
  -ms-grid-row: span 1;
      grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
  -ms-grid-column: span 2;
      grid-column-start: span 2;
  -ms-grid-column-span: 2;
  grid-column-end: span 2;
  -ms-grid-column-align: center;
      justify-self: center;
}

#w-node-d830f7d8-7838-af2e-f28c-9646db9c978c-db9c9789 {
  -ms-grid-column-span: 1;
  grid-column-end: 2;
  -ms-grid-column: 1;
      grid-column-start: 1;
  -ms-grid-row-span: 1;
  grid-row-end: 2;
  -ms-grid-row: 1;
      grid-row-start: 1;
}

#w-node-b6a53907-5c3e-5515-7e72-6a42509e76db-a711c60f {
  -ms-grid-column-align: center;
      justify-self: center;
}

#w-node-_8b7b4b75-0510-db79-1378-117fb67d01fc-8411c615 {
  -ms-grid-row-align: stretch;
      align-self: stretch;
}

#w-node-_83dc50fb-4404-c3a1-4c79-f6eebcaf2270-8411c615 {
  -ms-grid-row-align: center;
      align-self: center;
}

#w-node-_3e8954b4-4cd3-fefb-8df5-bbcdf5681d91-8411c615 {
  -ms-grid-row-align: stretch;
      align-self: stretch;
}

#w-node-cc55a9df-cc56-a277-ae55-2c1bd06188be-8411c615 {
  -ms-grid-row-align: center;
      align-self: center;
  -ms-grid-column-align: end;
      justify-self: end;
}

#w-node-cc55a9df-cc56-a277-ae55-2c1bd06188c5-8411c615 {
  -ms-grid-row-align: stretch;
      align-self: stretch;
}

#w-node-b295ed37-4310-5fb3-c2f7-c9db191bc066-8411c615 {
  -ms-grid-row-align: stretch;
      align-self: stretch;
}

#w-node-b295ed37-4310-5fb3-c2f7-c9db191bc069-8411c615 {
  -ms-grid-row-align: center;
      align-self: center;
}

#w-node-bdd2ce7c-18a8-0d95-fac5-2e002fa3b4a8-8411c615 {
  -ms-grid-row-align: stretch;
      align-self: stretch;
}

#w-node-_88d335d4-25a3-4532-8242-9e7cb329ac76-8411c615 {
  -ms-grid-row-align: center;
      align-self: center;
  -ms-grid-column-align: end;
      justify-self: end;
}

#w-node-_88d335d4-25a3-4532-8242-9e7cb329ac7d-8411c615 {
  -ms-grid-row-align: stretch;
      align-self: stretch;
}

#w-node-_6c5ab256-c695-7d60-24a6-695078e385b4-8411c615 {
  -ms-grid-row-align: stretch;
      align-self: stretch;
}

#w-node-_6c5ab256-c695-7d60-24a6-695078e385b7-8411c615 {
  -ms-grid-row-align: center;
      align-self: center;
}

#w-node-_4e3ca579-213b-c4b6-20ac-ce7d91def9a3-8411c615 {
  -ms-grid-row-align: stretch;
      align-self: stretch;
}

#w-node-d7e61123-ebba-5f6c-de7a-a6990c63cb84-8411c615 {
  -ms-grid-row-align: center;
      align-self: center;
  -ms-grid-column-align: end;
      justify-self: end;
}

#w-node-d7e61123-ebba-5f6c-de7a-a6990c63cb8b-8411c615 {
  -ms-grid-row-align: stretch;
      align-self: stretch;
}

#w-node-_19ca2539-0cf6-a592-fbdf-387b3fca396a-8411c615 {
  -ms-grid-row-align: stretch;
      align-self: stretch;
}

#w-node-_19ca2539-0cf6-a592-fbdf-387b3fca396d-8411c615 {
  -ms-grid-row-align: center;
      align-self: center;
}

#w-node-_5111bd58-9d0d-e8ea-59e5-f8c2fc8a5035-8411c615 {
  -ms-grid-row-align: stretch;
      align-self: stretch;
}

#w-node-de32109b-3b6f-823f-68b0-a875708c00f8-8411c615 {
  -ms-grid-row-align: center;
      align-self: center;
  -ms-grid-column-align: end;
      justify-self: end;
}

#w-node-de32109b-3b6f-823f-68b0-a875708c00ff-8411c615 {
  -ms-grid-row-align: stretch;
      align-self: stretch;
}

#w-node-beb3c3f8-9115-a238-efb9-0c11c6d79d81-8411c615 {
  -ms-grid-row-align: stretch;
      align-self: stretch;
}

#w-node-beb3c3f8-9115-a238-efb9-0c11c6d79d84-8411c615 {
  -ms-grid-row-align: center;
      align-self: center;
}

#w-node-_3e7e8076-7d73-2150-0060-c4cb32bef2cd-8411c615 {
  -ms-grid-row-align: stretch;
      align-self: stretch;
}

#w-node-_82eeb806-1ffc-66bd-6df1-433be27e8aa8-8411c615 {
  -ms-grid-row-align: center;
      align-self: center;
  -ms-grid-column-align: end;
      justify-self: end;
}

#w-node-_82eeb806-1ffc-66bd-6df1-433be27e8ab3-8411c615 {
  -ms-grid-row-align: stretch;
      align-self: stretch;
}

#w-node-_7e08ff81-380c-256f-d7e4-26f16a6ea173-8411c615 {
  -ms-grid-row-align: stretch;
      align-self: stretch;
}

#w-node-_7e08ff81-380c-256f-d7e4-26f16a6ea176-8411c615 {
  -ms-grid-row-align: center;
      align-self: center;
}

#w-node-_500c618f-ed0f-ff0c-3cc7-137abac48ade-8411c615 {
  -ms-grid-row-align: stretch;
      align-self: stretch;
}

#w-node-_9d24c5b3-325e-49b1-1c8b-65d66ab5f75e-8411c615 {
  -ms-grid-row-align: center;
      align-self: center;
  -ms-grid-column-align: end;
      justify-self: end;
}

#w-node-_9d24c5b3-325e-49b1-1c8b-65d66ab5f765-8411c615 {
  -ms-grid-row-align: stretch;
      align-self: stretch;
}

#w-node-a2013a67-1241-1afa-f06c-615041b39f99-8411c615 {
  -ms-grid-row-align: stretch;
      align-self: stretch;
}

#w-node-a2013a67-1241-1afa-f06c-615041b39f9c-8411c615 {
  -ms-grid-row-align: center;
      align-self: center;
}

#w-node-_5c8f32e6-4144-e0d0-28b6-2646d5385b24-8411c615 {
  -ms-grid-row-align: stretch;
      align-self: stretch;
}

#w-node-_5c8f32e6-4144-e0d0-28b6-2646d5385b27-8411c615 {
  -ms-grid-row-align: center;
      align-self: center;
  -ms-grid-column-align: end;
      justify-self: end;
}

#w-node-_5c8f32e6-4144-e0d0-28b6-2646d5385b2e-8411c615 {
  -ms-grid-row-align: stretch;
      align-self: stretch;
}

#w-node-_51ac320b-18be-bfd2-1c4d-f391da58610e-8411c615 {
  -ms-grid-row-align: stretch;
      align-self: stretch;
}

#w-node-_51ac320b-18be-bfd2-1c4d-f391da586113-8411c615 {
  -ms-grid-row-align: start;
      align-self: start;
  -ms-grid-column-align: start;
      justify-self: start;
}

#w-node-_4cace084-14d5-38ad-fed6-baf7478fd798-8411c615 {
  -ms-grid-row-align: stretch;
      align-self: stretch;
}

#w-node-f3fa9f4e-8f7a-f5bb-e080-c660193ecfcb-8411c615 {
  -ms-grid-row-align: start;
      align-self: start;
  -ms-grid-column-align: end;
      justify-self: end;
}

#w-node-f3fa9f4e-8f7a-f5bb-e080-c660193ecfd4-8411c615 {
  -ms-grid-row-align: stretch;
      align-self: stretch;
}

#w-node-_1e58ebf0-4c68-f164-f59f-482b2bb06ac8-8411c615 {
  -ms-grid-row-align: stretch;
      align-self: stretch;
}

#w-node-_1e58ebf0-4c68-f164-f59f-482b2bb06acd-8411c615 {
  -ms-grid-row-align: start;
      align-self: start;
  -ms-grid-column-align: start;
      justify-self: start;
}

#w-node-_2246cb07-7ce3-b16e-009b-bdb485b73ad4-8411c615 {
  -ms-grid-row-align: stretch;
      align-self: stretch;
}

#w-node-_2246cb07-7ce3-b16e-009b-bdb485b73ad7-8411c615 {
  -ms-grid-row-align: start;
      align-self: start;
  -ms-grid-column-align: end;
      justify-self: end;
}

#w-node-_2246cb07-7ce3-b16e-009b-bdb485b73adc-8411c615 {
  -ms-grid-row-align: stretch;
      align-self: stretch;
}

#w-node-ef443967-fa0d-64d9-4b5d-c962bac43cf7-8411c615 {
  -ms-grid-row-align: stretch;
      align-self: stretch;
}

#w-node-ef443967-fa0d-64d9-4b5d-c962bac43cfa-8411c615 {
  -ms-grid-row-align: start;
      align-self: start;
  -ms-grid-column-align: start;
      justify-self: start;
}

#w-node-_125c05db-c25d-cfc9-a235-84c004386e6f-8411c615 {
  -ms-grid-row-align: stretch;
      align-self: stretch;
}

#w-node-_125c05db-c25d-cfc9-a235-84c004386e72-8411c615 {
  -ms-grid-row-align: start;
      align-self: start;
  -ms-grid-column-align: end;
      justify-self: end;
}

#w-node-_125c05db-c25d-cfc9-a235-84c004386e77-8411c615 {
  -ms-grid-row-align: stretch;
      align-self: stretch;
}

#w-node-_68211e97-a05a-1564-681f-b626cde9b0ee-8411c615 {
  -ms-grid-row-align: stretch;
      align-self: stretch;
}

#w-node-_68211e97-a05a-1564-681f-b626cde9b0f1-8411c615 {
  -ms-grid-row-align: start;
      align-self: start;
  -ms-grid-column-align: start;
      justify-self: start;
}

@media screen and (max-width: 991px) {
  #w-node-_2c1e68ec-f382-10c3-3dfa-4bd38e0ce518-f111c60b {
    -ms-grid-row: span 1;
        grid-row-start: span 1;
    -ms-grid-row-span: 1;
    grid-row-end: span 1;
  }

  #w-node-_2c1e68ec-f382-10c3-3dfa-4bd38e0ce519-f111c60b {
    -ms-grid-row: 1;
        grid-row-start: 1;
    -ms-grid-row-span: 1;
    grid-row-end: 2;
  }

  #w-node-_87a24f56-d225-72b4-257e-7ee4dfeba61b-f111c60b {
    -ms-grid-row: span 1;
        grid-row-start: span 1;
    -ms-grid-row-span: 1;
    grid-row-end: span 1;
  }

  #w-node-f2df1f58-347c-4959-9d2c-fa582b1927c6-2b1927c4 {
    -ms-grid-column: span 3;
        grid-column-start: span 3;
    -ms-grid-column-span: 3;
    grid-column-end: span 3;
    -ms-grid-row: span 1;
        grid-row-start: span 1;
    -ms-grid-row-span: 1;
    grid-row-end: span 1;
    -ms-grid-row-align: center;
        align-self: center;
  }

  #w-node-aae33376-4836-968d-e4a4-98571fe0c1e9-2b1927c4 {
    -ms-grid-column: span 3;
        grid-column-start: span 3;
    -ms-grid-column-span: 3;
    grid-column-end: span 3;
    -ms-grid-column-align: center;
        justify-self: center;
  }

  #w-node-f2df1f58-347c-4959-9d2c-fa582b1927ef-2b1927c4 {
    -ms-grid-row: span 1;
        grid-row-start: span 1;
    -ms-grid-row-span: 1;
    grid-row-end: span 1;
    -ms-grid-column: span 3;
        grid-column-start: span 3;
    -ms-grid-column-span: 3;
    grid-column-end: span 3;
    -ms-grid-column-align: center;
        justify-self: center;
  }

  #w-node-_2c611876-82f7-6a59-a5c5-5f8ce9c2f991-2b1927c4 {
    -ms-grid-column: span 3;
        grid-column-start: span 3;
    -ms-grid-column-span: 3;
    grid-column-end: span 3;
    -ms-grid-row: span 1;
        grid-row-start: span 1;
    -ms-grid-row-span: 1;
    grid-row-end: span 1;
    -ms-grid-column-align: center;
        justify-self: center;
  }

  #w-node-d830f7d8-7838-af2e-f28c-9646db9c978c-db9c9789 {
    -ms-grid-column: 1;
        grid-column-start: 1;
  }

  #w-node-b6a53907-5c3e-5515-7e72-6a42509e76db-a711c60f {
    -ms-grid-column: span 3;
        grid-column-start: span 3;
    -ms-grid-column-span: 3;
    grid-column-end: span 3;
    -ms-grid-row: span 1;
        grid-row-start: span 1;
    -ms-grid-row-span: 1;
    grid-row-end: span 1;
    -ms-grid-row-align: center;
        align-self: center;
  }
}

@media screen and (max-width: 767px) {
  #w-node-_2c1e68ec-f382-10c3-3dfa-4bd38e0ce519-f111c60b {
    -ms-grid-column: span 1;
        grid-column-start: span 1;
    -ms-grid-column-span: 1;
    grid-column-end: span 1;
    -ms-grid-row: span 1;
        grid-row-start: span 1;
    -ms-grid-row-span: 1;
    grid-row-end: span 1;
  }

  #w-node-f2df1f58-347c-4959-9d2c-fa582b1927c6-2b1927c4 {
    -ms-grid-column-align: center;
        justify-self: center;
  }

  #w-node-b6a53907-5c3e-5515-7e72-6a42509e76db-a711c60f {
    -ms-grid-column-align: center;
        justify-self: center;
  }

  #w-node-_83dc50fb-4404-c3a1-4c79-f6eebcaf2270-8411c615 {
    -ms-grid-column-align: center;
        justify-self: center;
  }

  #w-node-_3e8954b4-4cd3-fefb-8df5-bbcdf5681d91-8411c615 {
    -ms-grid-row-align: stretch;
        align-self: stretch;
  }

  #w-node-bdd2ce7c-18a8-0d95-fac5-2e002fa3b4a8-8411c615 {
    -ms-grid-row-align: stretch;
        align-self: stretch;
  }

  #w-node-_4e3ca579-213b-c4b6-20ac-ce7d91def9a3-8411c615 {
    -ms-grid-row-align: stretch;
        align-self: stretch;
  }

  #w-node-_5111bd58-9d0d-e8ea-59e5-f8c2fc8a5035-8411c615 {
    -ms-grid-row-align: stretch;
        align-self: stretch;
  }

  #w-node-_500c618f-ed0f-ff0c-3cc7-137abac48ade-8411c615 {
    -ms-grid-row-align: stretch;
        align-self: stretch;
  }

  #w-node-_5c8f32e6-4144-e0d0-28b6-2646d5385b24-8411c615 {
    -ms-grid-row-align: stretch;
        align-self: stretch;
  }

  #w-node-_51ac320b-18be-bfd2-1c4d-f391da586113-8411c615 {
    -ms-grid-column-align: center;
        justify-self: center;
  }

  #w-node-_4cace084-14d5-38ad-fed6-baf7478fd798-8411c615 {
    -ms-grid-row-align: stretch;
        align-self: stretch;
  }

  #w-node-f3fa9f4e-8f7a-f5bb-e080-c660193ecfcb-8411c615 {
    -ms-grid-column-align: center;
        justify-self: center;
  }

  #w-node-_1e58ebf0-4c68-f164-f59f-482b2bb06acd-8411c615 {
    -ms-grid-column-align: center;
        justify-self: center;
  }

  #w-node-_2246cb07-7ce3-b16e-009b-bdb485b73ad4-8411c615 {
    -ms-grid-row-align: stretch;
        align-self: stretch;
  }

  #w-node-_2246cb07-7ce3-b16e-009b-bdb485b73ad7-8411c615 {
    -ms-grid-column-align: center;
        justify-self: center;
  }

  #w-node-ef443967-fa0d-64d9-4b5d-c962bac43cfa-8411c615 {
    -ms-grid-column-align: center;
        justify-self: center;
  }

  #w-node-_125c05db-c25d-cfc9-a235-84c004386e6f-8411c615 {
    -ms-grid-row-align: stretch;
        align-self: stretch;
  }

  #w-node-_125c05db-c25d-cfc9-a235-84c004386e72-8411c615 {
    -ms-grid-column-align: center;
        justify-self: center;
  }

  #w-node-_68211e97-a05a-1564-681f-b626cde9b0f1-8411c615 {
    -ms-grid-column-align: center;
        justify-self: center;
  }
}

@media screen and (max-width: 479px) {
  #w-node-f2df1f58-347c-4959-9d2c-fa582b1927c6-2b1927c4 {
    -ms-grid-column-align: center;
        justify-self: center;
    -ms-grid-column: span 1;
        grid-column-start: span 1;
    -ms-grid-column-span: 1;
    grid-column-end: span 1;
  }

  #w-node-aae33376-4836-968d-e4a4-98571fe0c1e9-2b1927c4 {
    -ms-grid-column: span 1;
        grid-column-start: span 1;
    -ms-grid-column-span: 1;
    grid-column-end: span 1;
  }

  #w-node-f2df1f58-347c-4959-9d2c-fa582b1927ef-2b1927c4 {
    -ms-grid-column: span 1;
        grid-column-start: span 1;
    -ms-grid-column-span: 1;
    grid-column-end: span 1;
  }

  #w-node-_2c611876-82f7-6a59-a5c5-5f8ce9c2f991-2b1927c4 {
    -ms-grid-column: span 1;
        grid-column-start: span 1;
    -ms-grid-column-span: 1;
    grid-column-end: span 1;
  }

  #w-node-b6a53907-5c3e-5515-7e72-6a42509e76db-a711c60f {
    -ms-grid-column-align: center;
        justify-self: center;
    -ms-grid-column: span 1;
        grid-column-start: span 1;
    -ms-grid-column-span: 1;
    grid-column-end: span 1;
  }
}

@font-face {
  font-family: 'Valak';
  src: url('../fonts/Valak-Light.otf') format('opentype');
  font-weight: 300;
  font-style: normal;
  font-display: auto;
}
@font-face {
  font-family: 'Valak';
  src: url('../fonts/Valak-LightItalic.otf') format('opentype');
  font-weight: 300;
  font-style: italic;
  font-display: auto;
}